<table class='schedule'>
  <tr>
    <th class='date'>Date</th>
    <th class='topics'>Lecture topic</th>
    <th class='topics'>Reading topic</th>
    <th class='readings'>Readings (everyone)</th>
    <th class='notes'>Readings (sign-up)</th>
  </tr>

  {% for unit in site.data.syllabus %}
    <tr class='lechead'>
      <td class='lechead' colspan='5'>{{ unit.unit }}</td>
    </tr>
    {% for session in unit.sessions %}
      {% if session.type == 'lecture' %}
        <tr class='lecture {% cycle '', 'alt' %}'>
      {% else %}
        <tr class='{{ session.type }}'>
      {% endif %}
        <td>{{ session.date }}</td>
        <td>
          {{ session.lecture-topic }}
          {% if session.slides %}
            [<a href='docs/{{ session.slides }}.pdf'>pdf</a>]
            [<a href='docs/{{ session.slides }}.pptx'>pptx</a>]
          {% endif %}
        </td>
        <td>{{ session.reading-topic }}</td>
        <td>
          {% if session.readings %}
            <ul>
              {% for reading in session.readings %}
                <li><a href='{{ reading.link }}'>{{ reading.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
        <td>
          {% if session.signups %}
            <ul>
              {% for signup in session.signups %}
                <li><a href='{{ signup.link }}'>{{ signup.name }}</a></li>
                {% if signup.student %}
                  ({{ signup.student }})
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
