<table class='schedule'>
  <tr>
    <th class='date'>Date</th>
    <th class='topics'>Topics</th>
    <th class='readings'>Readings</th>
    <th class='notes'>Notes</th>
  </tr>

  {% for unit in site.data.syllabus %}
    <tr class='lechead'>
      <td class='lechead' colspan='4'>{{ unit.unit }}</td>
    </tr>
    {% for session in unit.sessions %}
      {% if session.type == 'lecture' %}
        <tr class='lecture {% cycle '', 'alt' %}'>
      {% else %}
        <tr class='{{ session.type }}'>
      {% endif %}
        <td>{{ session.date }}</td>
        <td>
          {{ session.topic }}
          {% if session.slides %}
            [<a href='/docs/{{ session.slides }}.pdf'>pdf</a>]
            [<a href='/docs/{{ session.slides }}.pptx'>pptx</a>]
          {% endif %}
        </td>
        <td>
          <ul>
            {% for reading in session.readings %}
              <li><a href='{{ reading.link }}'>{{ reading.name }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td> {{ session.notes }} </td>
      </tr>
    {% endfor %}
  {% endfor %}
</table>
